#positive-integer {
  display: none;
}

#number-form {
  display: none;
}

#too-big {
  display: none;
}

#results {
  display: none;
}

#no-name {
  display: none;
}

.big {
  font-size: 1.6em;
}

.reg {
  font-size: 1.3em;
}

.small {
  font-size: 1.0em;
}

.smaller {
  font-size: .7em;
}

.smallest {
  font-size: .4em;
}

.label {
  font-size: 1.6em;
}

.alert {
  font-style: italic;
}